<div class="container">
  <p></p>
  <form action="/sign_in" method="post">
    Email:<input type="text" name="email">
    Password:<input type="password" name="password">
    <input type="submit" value="LOG IN">
  </form>
  <a href="/sign_up">Sign Up!</a>
</div>
